{% extends "Client/partial/main.html" %}

{% block main %}
<div class="content_body">

{% if posts and posts.length>0 %}
{% for post in posts %}
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
         <a href="/article/{{ post.shortid }}"  target="_blank">{{ post.title }}</a> <span class="red">{{ post.price }}</span>
      </h3>
   </div>
   <div class="panel-body">
      <div class="col-sm-24">
    作者：{{ post.recordBy }} | 
    日期：{{ post.recordDate.toLocaleString() }}
  </div>
  <div class="col-sm-24">
  <div class="col-sm-8 item-img">
    <a href="/article/{{ post.shortid }}"  target="_blank">
    <img src="{{ post.imgFile }}?imageView2/3/w/200/q/80" alt="{{ post.title }}">
    </a> 
  </div>
    <div class="col-sm-16">
      <pre>{{ post.post }}</pre>
      <p style=""><a class="btn btn-warning"  target="_blank" href="{{ post.linkAddr }}">直接购买</a></p>
    </div>
  </div>
   </div>
</div>
{% endfor %}
{% endif %}
</div>
<script type="text/javascript" src="/default/assets/js/index.js"></script>
{% endblock %}