body {
    background-color: #FFFFFF;
}

footer,
.container,
.bottom-fix {
    margin: 0 auto;
    width: 100%;
    background-color: #f8f8f8;
}

.nav-bar {
    position: relative;
    margin-bottom: 30px;
}

.nav-bar-header {
    height: 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.goods-list {
    font-size: 12px;
    padding: 5px;
    list-style: none;
    margin: 0;
}

.goods-list .goods-card {
    position: relative;
    margin: 0 5px
}

.goods-card.card {
    margin: 8px 0;
    float: left;
    width: 100%;
}

.goods.link {
    display: block;
    margin: 0px 4px;
    border: 2px solid #e5e5e5;
}

.goods-list .photo-block {
    min-height: 100px;
    margin: 4px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #f8f8f8;
    background-size: 6px 6px;
}

.goods-list .photo-block img,
.article-card .photo-block img
 {
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.goods-list .info {
    margin-left: 4px;
    padding-right: 8px;
    min-height: 34px;
    padding-left: 4px;
    margin-top: 10px;
    position: relative;
}

.goods-list .info .goods-price {
    font-size: 15px; 
}

.info-price .goods-price>em {
font-style: normal;
}

.article-card .info {
    padding: 0 10px;
}

.article-card .info-price .goods-price>em {
    margin-top: 2px;
    font-size: 24px;
}
.info-price .goods-price {
    font-weight: bold;
    padding: 0;
    float: left;
    margin: 2px 10px 10px 0;
    font-style: normal;
    color: #ff6600;
}
.article-block{
    margin-bottom: 20px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;    
    background-color: #FFFFFF;
}

.info-content {
    padding: 0 10px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    position: relative
}


.info-content img+br {
    display: block;
    padding: 4px 0;
    content: ' '
}

.info-content p {
    margin: 0 0 1em 0
}

.info-content .Powered-by-XIUMI p {
    margin: 0
}

.info-content a {
    color: #07d
}

.info-content img {
    background: none;
    max-width: 100% !important;
    min-height: 1px;
    width: auto !important;
    vertical-align: middle
}

.info-content ul,.info-content ol {
    list-style-position: inside;
    padding-left: 0
}

.info-content ol {
    width: auto !important
}

.info-content blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #EEE
}

.info-content em,.info-content i {
    font-style: italic
}

.info-content strong,.info-content b {
    font-weight: bold
}

.info-content .selectTdClass {
    background-color: #edf5fa !important
}

.info-content table.noBorderTable td,.info-content table.noBorderTable th,.info-content table.noBorderTable caption {
    border: 1px dashed #ddd !important
}

.info-content table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    width: auto !important
}

.info-content td,.info-content th {
    padding: 5px 10px;
    border: 1px solid #ddd
}

.info-content caption {
    border: 1px dashed #ddd;
    border-bottom: 0;
    padding: 3px;
    text-align: center
}

.info-content th {
    border-top: 2px solid #bbb;
    background: #f7f7f7
}

.info-content .ue-table-interlace-color-single {
    background-color: #fcfcfc
}

.info-content .ue-table-interlace-color-double {
    background-color: #f7faff
}

.info-content td p {
    margin: 0;
    padding: 0
}

.info-content .bottom-floating-banner {
    position: fixed !important;
    bottom: 0
}
/*.info-price .goods-price>em {
    font-style: normal;
    color: #ff6600;
}*/

.goods-list .goods-buy.btn {
    bottom: 14px;
    right: 10px;
    position: absolute;
}

.bottom-fix {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px 7px;
    border-top: 2px solid #e5e5e5;
    background-color: #fff;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
    .goods-card.card {
        margin: 8px 0;
        float: left;
        width: 263px;
    }
    footer,
    .container,
    .bottom-fix,
    .article-card .photo-block
     {
        width: 540px;
    }

}

.nav-bar-title {
    position: absolute;
    z-index: 1;
    bottom: 7px;
    left: 95px;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-bar-avatar {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    left: 10px;
    width: 68px;
    height: 68px;
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    overflow: hidden;
}

.nav-bar-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eee;
}

footer {
    min-height: 80px;
    border-top: 3px solid #cfcfcf;
    margin-top: 30px;
    padding-top: 15px;
}

pre {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 14px;
}


.sys_spec_text li {
    float: left;
    height: 28px;
    position: relative;
    margin: 2px 6px 2px 0;
    outline: none;
}
li {
    list-style: none;
}
.sys_spec_text li.selected a {
    border: 2px solid #e4393c;
    padding: 0 5px;
}
.sys_spec_text li a {
    height: 24px;
    padding: 1px 6px;
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    line-height: 24px;
}
a {
    color: #555;
    text-decoration: none;
}
.sys_spec_text li.selected i {
    display: block;
}
.sys_spec_text li i {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    right: 2px;
    bottom: 2px;
    background: url(../images/sys_item_selected.gif) no-repeat right bottom;
    z-index: 99;
    display: none;
}