<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>通城都市岛</title>
<link rel="stylesheet" href="/default/assets/css/bootstrap.css">
<link rel="stylesheet" href="/default/assets/css/main.css">
<link rel="stylesheet" href="/default/assets/css/formValidation.css">
<script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/default/assets/js/qiniu.min.js"></script>
<script type="text/javascript" src="/default/assets/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?bfdb448a3804e65a7dd6131506dbae1e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 text-left">
        <h3>
            通城都市岛
        </h3>
        </div>
            <div class="col-sm-12">
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav pull-right">
                            <li role="presentation"><a href="/">首页</a></li>
                            <% if (user) { %>
                            <li role="presentation"><a href="/post">爆料</a></li><li role="presentation"><a href="/logout"><%=user.name%>(退出)</a></li>
<% } else { %>
<li role="presentation"><a href="/login">登录</a></li>
<li role="presentation"><a href="/reg">注册</a></li>
<% } %>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</nav>
 <div class="site-wrapper">
<section class="content-wrap">
        <div class="container">
        <div class="row main-content" > 
        <main class="col-md-19">
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>