<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>通城都市岛</title>
	<link rel="stylesheet" href="/default/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/default/assets/css/jquery.spinner.css">
	<link rel="stylesheet" href="/default/assets/css/main.css">
	<link rel="stylesheet" href="/default/assets/css/formValidation.css">
	<script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="/default/assets/js/jquery.spinner.js"></script>
	<script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
</head>

<body>
	{% block main %}{% endblock %}
	<footer class="text-center">
		Copyright&copy;都市岛 2016, All Rights Reserved.
	</footer>
	<script type="text/javascript" src="/default/assets/js/public.js"></script>
</body>

</html>